
.table{

    float: left;
    position: relative;
    margin-top: 1.8vw;
    
    
  }
  
  table tbody td:nth-child(1){
  
    width:10px;
  }

  table tbody td:nth-child(4){
  
    width:50px;
  }
  