
.wrapper{
    float: left;
    overflow:auto; 
    background-color: white;
    margin-left: 20px;
    width: 39vw;
    font-size: 0.95rem;
}

.table{
  position: relative;
}

.header{
    line-height: 2vw;
    font-size: 1.4rem;
    width: 39vw;
    height: 2vw;
    text-align: center;
    background-color: hsl(195, 100%, 60%) ;
}