
body{
  background-image: url(Assets/images/space.jpg);
  background-repeat: repeat;
  color: white;
  z-index: -1;

}

#sideBar{
  margin-top: 80px;
  margin-left: 60px;
  float: left;
  position: fixed;
  top: 20px;
  right: 20px;
}

#actionColumn{

  width: 150px;
}

#mainButton{

  width: 200px;
}




.myLink{
  width: 112px;
}

.myLink2{
  width: 112px;
  margin-left: -137px;
}

/* ------------------ fontello icons  ------------------------------*/

.icon-trash-2{

  position: absolute;
  right: 10px;
   
}

.icon-trash-2:hover{

  color: #0066ff;
  cursor: pointer;
}

.icon-user-plus{

  position: absolute;
  right: 40px;
}

.icon-sliders{

  position: absolute;
  right: 75px;
}

.icon-flight-1{

  position: absolute;
  right: 40px;
}

.icon-user{

  position: absolute;
  right: 75px;
}

.icon-up-open{

  color:#0066ff;
  position: fixed;
  bottom:15px;
  right:30px;
  font-size: 45px;
  
}

.icon-up-open:hover{

  cursor: pointer;
}




/* ------------------------------------------------------- */


#spaceLogo{
  display: block;
  width:300px;
  margin-left: auto;
  margin-right: auto;
 
}

#spaceLogoNav{
  
  width:55px;
  position: absolute;
  top:0px;
  left:10px;
 
}


#selectFlightPassengerForm {
  margin-left: 30px;
  text-align: center;
  float: left;
  width:400px;
  color:white;

}

h2{

  text-align: center;
  padding-bottom: 40px;
}

.selectFlights{

  width: 500px;
}